
  #upload-zone {
    position: relative;
    border: 4px dashed black;
  }
  #upload-zone p{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 170px;
    color: black;
    font-family: Arial;
  }
  #upload-zone input{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
  }
  
  
  