<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="documentDescription">Document Description</label>
                        <textarea class="form-control" id="documentDescription" [(ngModel)]="document.Description" name="documentDescription" rows="3"></textarea>
                    </div>
                    <div id="upload-zone">
                        <input type="file" (change)="handleFileInput($event.target.files)" multiple>
                        <p>{{fileAlertString}}</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="OnSubmit()">Save changes</button>
            </div>
        </div>
    </div>
</div>