<h3>Top Document</h3>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let document of documents" class="col-sm-6">
                    <div class="card" style="margin-bottom: 2%;">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-7">
                                    <span *ngIf="document.isNew == true" class="glyphicon glyphicon-star"
                                        style="color:red;"></span>
                                </div>
                                <div class="col-5">
                                    Date Added: {{document.createdDate | date:'dd-MM-yyyy'}}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                <div class="row">
                                    <div class="col-3">
                                        <app-document-image [document] = "document"></app-document-image>
                                    </div>
                                    <div class="col-9">
                                        <div class="numbers">
                                            <p>{{document.name}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span class="text-nowrap">{{document.description}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-document-add-dialog></app-document-add-dialog>