<div class="col-lg-3 document-image">
    <img *ngIf="document.documentKind == 'Image'" src="../../../../../assets/image/images.jpg" alt="">
    <img *ngIf="document.documentKind.indexOf('png') > -1" src="../../../../../assets/image/images.jpg" alt="">
    <img *ngIf="document.documentKind.indexOf('doc') > -1" src="../../../../../assets/image/word-2013-icon.png" alt="">
    <img *ngIf="document.documentKind.indexOf('xlsx') > -1" src="../../../../../assets/image/excel-logo.png" alt="">
    <iframe *ngIf="document.documentKind == 'Video'" [src]="photoURL(document.documentDefaultLink)" allowfullscreen>
    </iframe>
</div>