<!--The content below is only a placeholder and can be replaced.-->
<div id="page-content" class="page-wrapper">
    <div class="sticky-header">
        <app-header></app-header>
    </div>
    <div class="content-wrapper">
        <app-toast></app-toast>
        <h1>{{title}}</h1>
        <nav>
            <a routerLink="/">Dashboard</a>
            <a routerLink="/heroes">Heroes</a>
            <a routerLink="/document">Document</a>
        </nav>
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>

<div id="loading-space" class="loader" style="display:none;"></div>